.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

p {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

div#header {
  height: 2em;
  width: 100%;
  background-color: azure;
  position: relative; /* need for using center class */
}

div#playerSection {
  max-height: 70%;
  width: 100%;
  background-color: red;
}

div#navigationBar {
  height: 6em;
  width: 100%;
  background-color: burlywood;
  position: relative; /* need for using center class */
}

p#location {
  text-align: center;
}

div#videoContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: yellow;
}

div#videoPlayer {
  height: 300px;
  background-color: green;
}

div#videoList {
  height: 5em;
  width: max-content;
  background-color: gray;
}

video {
  background-color: blue;
  height: inherit;
}

div#foldersList {
  min-height: 15%;
  width: 100%;
  background-color: blueviolet;
}

div#downloadsList {
  min-height: 15%;
  width: 100%;
  background-color: #078656;
}

div#footer {
  min-height: 5%;
  width: 100%;
  background-color: brown;
}
